<div class="columns is-gapless is-marginless" style="height: 100%;">
  <div id="map-pane" class="column is-9">

    <section class="hero is-fullheight-with-navbar" style="position: relative;">
      <div id="map" class="map"></div>
    </section>

  </div>

  <div id="map-sidebar" class="column is-3">
  
    <!-- simplification sidebar -->
    <nav id="sidebar-simplification" class="panel">
      <p class="panel-heading">Simplification</p>
      <div class="simplification-box">
        <input id="simplification-info" disabled="disabled" />
        <input id="simplification" class="slider is-fullwidth is-medium" step="30" min="0" max="60" value="30" type="range">
      </div>
    </nav>

    <!-- role sidebar -->
    <nav id="sidebar-roles" class="panel">
      <p class="panel-heading">Options</p>
      <div class="roles-box">
        <label class="checkbox">
          <input id="show-buffered-geoms" type="checkbox">
          Show Buffered Geometries
        </label>
      </div>
    </nav>

    <!-- results sidebar -->
    <nav id="sidebar-results" class="panel">
      <p class="panel-heading">Hits</p>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>place</th>
            <th>class</th>
            <th>type</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </nav>
  
  </div>

</div>

<script>
  var events = $({});
  var params = JSON.parse(decodeURIComponent("{{{json}}}"));
</script>
<script src="/explore/assets/map.load.js"></script>
<script src="/explore/assets/pip.js"></script>