<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  {{#if metaTags.noindex}}
    <meta name="robots" content="noindex">
  {{/if}}
  {{#if metaTags.title}}
    <title>{{metaTags.title}}</title>
  {{/if}}
  {{#if metaTags.description}}
    <meta name="description" content="{{metaTags.description}}">
  {{/if}}
  {{#if metaTags.keywords}}
    <meta name="keywords" content="{{metaTags.keywords}}">
  {{/if}}

  <link rel="icon" href="https://geocode.earth/favicon/favicon.ico" type="image/x-icon" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/dist/css/bulma-extensions.min.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <script src="https://kit.fontawesome.com/66a62eca01.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
  <script src="/explore/assets/vendor/leaflet-hash.js"></script>

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
    rel='stylesheet' />

  <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/dist/js/bulma-extensions.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css" />

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>

  <link href="/explore/assets/tree.css" rel="stylesheet" />
  <link href="/explore/assets/style.css" rel="stylesheet" />
  <script src="/explore/assets/typeahead.js"></script>
  <script src="/explore/assets/links.js"></script>
  <script src="/explore/assets/minimap.js"></script>
  <script src="/explore/assets/hierarchy.js"></script>
  <script src="/explore/assets/api.js"></script>
  <script src="/explore/assets/menu.js"></script>
  <script src="/explore/assets/map.style.js"></script>
  <script src="/explore/assets/map.js"></script>
</head>

<body class="has-navbar-fixed-top">

  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://geocode.earth" target="_blank">
        <img src="https://geocode.earth/favicon/favicon-32x32.png" width="28" height="28">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/explore/pip" class="navbar-item" data-append-hash>
          PIP
        </a>
        <a href="/explore/ontology" class="navbar-item">
          Ontology
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">

          <div class="typeahead__container">
            <div class="typeahead__field">
              <div class="typeahead__query">

                <div class="field">
                  <p class="control has-icons-left">
                    <input id="search" class="input" type="search" placeholder="search" autocomplete="off">
                    <span class="icon is-small is-left">
                      <i class="fas fa-search"></i>
                    </span>
                  </p>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </nav>

  {{!-- <div class="typeahead__container">
      <div class="typeahead__field">
        <div class="typeahead__query">
          <input class="js-typeahead" name="q" type="search" autocomplete="off">
        </div>
        <div class="typeahead__button">
          <button type="submit">
            <span class="typeahead__search-icon"></span>
          </button>
        </div>
      </div>
    </div> --}}

  <div class="column is-paddingless" style="height: 100%;">
    {{{body}}}
  </div>

</body>

</html>
