<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/dist/css/bulma-extensions.min.css">
  
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <script src="https://kit.fontawesome.com/9d98297a6e.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-hash/0.2.1/leaflet-hash.min.js"></script>-->

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'
    rel='stylesheet' />

  <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/dist/js/bulma-extensions.min.js"></script>

  <link rel="stylesheet" href="/demo/assets/vendor/L.Control.MapCenterCoord.min.css" />
  <script src="/demo/assets/vendor/L.Control.MapCenterCoord.min.js"></script>

  <link href="/demo/assets/tree.css" rel="stylesheet" />
  <link href="/demo/assets/style.css" rel="stylesheet" />
  <script src="/demo/assets/links.js"></script>
  <script src="/demo/assets/minimap.js"></script>
  <script src="/demo/assets/api.js"></script>
  <script src="/demo/assets/menu.js"></script>
  <script src="/demo/assets/map.style.js"></script>
  <script src="/demo/assets/map.js"></script>
</head>

<body>

  <div id="outer" class="columns is-marginless">
    <div id="menu">
      <aside class="menu">
        <ul class="menu-list">
          <li><a href="/demo/place">
            <i class="fas fa-database"></i>
            <em>Browse</em>
          </a></li>
          <li><a href="/demo/pip">
            <i class="fas fa-draw-polygon"></i>
            <em>PIP</em>
          </a></li>
          <li class="bottom"><a id="menu-toggle" class="inverse">
            <i class="fas fa-plus"></i>
          </a></li>
        </ul>
      </aside>
    </div>
    <div class="column is-paddingless" style="height: 100%;">
      {{{body}}}
    </div>
  </div>

</body>
</html>